:root{

--wixBgColor: #f0efea;
--buttonColor: #4c575d;
--smallTextColor: #5b5f51;


}

header {

  background-color: var(--wixBgColor);  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;

}

.brand {
  display: flex;
  align-items: center;
  padding: 30px;
}


#logo {


    width: 150px;
    height: 150px !important;
    padding: 0px 20px;
    

}

nav {

    margin-right: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 32px;
    

}


h1 {

  font-size: 4.2rem;
  font-family: "Syne", sans-serif;
  padding: 10px;
  margin-left: 60px;

}

.events h2 {

  font-size: 2.5rem;
  font-family: "Syne", sans-serif;
  
}



.events{

  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 80px;

}

.link {

    background-color: #13242c;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px 32px;
    transition: 0.5s;
}

#title {

    font-family: "Wix Madefor Text" sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 100px;


}

#title h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

.events .content{

  display: flex;            /* enable flex layout */
  align-items: center;      /* vertically center items */
  justify-content: space-between;
  gap: 20px;


}

.events .text {

  padding-left: 60px;
  flex: 1;
  font-family: "Syne", sans-serif !important;
  
  /* takes remaining space */
}

.mission  h2 {

  font-size: 2.5rem;
  font-family: "Syne", sans-serif;
  padding: 10px;
  font-size: 2rem;
  margin-left: 50px;
  


}

.events .text p {

  color: var(--smallTextColor);
  font-size: 1.1rem;

}

.events .text a {

  display: inline-block;   /* ensures margin works properly */
  margin-top: 30px;        /* space above the link */
  text-decoration: none;   /* optional: remove underline */
  font-weight: 500;     


}

.mission .content {
  
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 450px; /* Adjust this value to your "taste" */
  overflow: hidden; /* Prevents content from spilling out if it's too long */

}

.mission .text {

  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures it takes up the left side properly */
  padding-left: 60px;
  font-size: 22px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.image {
  flex: 1;                  /* takes remaining space */
  margin: 0; /* pushes image to the right */
}

.mission .image {
  flex: 2;                  /* takes remaining space */
  display: flex;
  justify-content: flex-end; /* pushes image to the right */
}

.mission .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This keeps the image from looking stretched/squished */
}

.image img {
  max-width: 100%;          /* ensures image fits its container */
  height: auto;     /* optional: rounded corners */
}


.mission {

  border: 1px solid black;
  background-color: #f8f7f5;



}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-bottom: 2px solid transparent;
}

body {

    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
    background-color: var(--wixBgColor);

}

header > div {
    display: flex;
}

.info {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1A1210;
    color: white;
    text-align: center;



}


#overlay-button:hover{

    padding: 18px; 
    background-color: rgba(0, 0, 0, .7); 
    border-radius: 12px;  
    cursor: pointer;
    transition: .7s;
    
}


@keyframes fadeIn {
  from {
    opacity: 0;   /* invisible at start */
  }
  to {
    opacity: 1;   /* fully visible at end */
  }
}

#overlay {
        font-size: 40pt;
    }

a:hover{

    background-color: #4c575d;
    border: 2px white solid;
    transition: 0.5s;


}