:root{

--wixBgColor: #f0efea;


}

header {

  background-color: var(--wixBgColor);  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.brand {
  display: flex;
  align-items: center;
  padding: 30px;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

#logo {


    width: 150px;
    height: 150px !important;
    padding: 0px 20px;
    

}

nav {

    margin-right: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 32px;
    

}

.link {

    background-color: #13242c;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px 32px;
    transition: 0.5s;
}

#title {

    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;


}

#title h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}


h2 {
  font-family: 'Rubik Bubbles', system-ui;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-bottom: 2px solid transparent;
}

body {

    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
    background-color: var(--wixBgColor);

}

header > div {
    display: flex;
}

.info {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1A1210;
    color: white;
    text-align: center;



}


#overlay-button:hover{

    padding: 18px; 
    background-color: rgba(0, 0, 0, .7); 
    border-radius: 12px;  
    cursor: pointer;
    transition: .7s;
    
}


@keyframes fadeIn {
  from {
    opacity: 0;   /* invisible at start */
  }
  to {
    opacity: 1;   /* fully visible at end */
  }
}

#overlay {
        font-size: 40pt;
    }

a:hover{

    background-color: #4c575d;
    border: 2px white solid;
    transition: 0.5s;


}