
header {

    background-color: #f1efe9;
    color: black;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;     

}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

#logo {


    width: 150px;
    height: 150px !important;

}


h2 {
  font-family: 'Rubik Bubbles', system-ui;
}
#logo {
    height: 60px;
    padding: 0px 20px;
}


a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-bottom: 2px solid transparent;
}

body {

    margin: 0;
    padding: 0;
    animation: fadeIn 2s;
    background-color: #1A1210;

}

header > div {
    display: flex;
}

.info {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1A1210;
    color: white;
    text-align: center;



}


#overlay-button:hover{

    padding: 18px; 
    background-color: rgba(0, 0, 0, .7); 
    border-radius: 12px;  
    cursor: pointer;
    transition: .7s;
    
}


@keyframes fadeIn {
  from {
    opacity: 0;   /* invisible at start */
  }
  to {
    opacity: 1;   /* fully visible at end */
  }
}

#overlay {
        font-size: 40pt;
    }

a:hover{

    color: white;
    border: 2px black solid;
    transition: 1s;

}